@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {

    /* colors */
    /* primary colors */
    --cream: #f5f5dd;
    --raspberryRage: #991b1e;

    /* secondary colors */
    --blueberryBliss: #255f85;
    --honeyMustard: #ffd95a;
    --chiliPepper: #e4242a;

    /* semantic colors */
    --enchantedEmerald: #8ac653;
    --caramelApricot: #f8993a;
    --rosyCoral: #f26969;
    --cottonCandy: #f499c0;

    /* neutral colors */
    --charcoal: #444445;
    --black: #000000;
    --white: #ffffff;

    /* recommended tints */
    --deepCrimson: #550000;
    --mist: #CCCCCC;
    --stormCloud: #999999;
    --quartz: #ececec;


    /* typography */
    --SpaceGrotesk:'Space Grotesk', sans-serif;
}



.navbar {
    position: sticky;
    top: 0;
    background-color: var(--cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid var(--mist);
    z-index: 2;
    height: 60px;
}

.logo img {
    height: 44px;
    width: 100%;
    left: 100px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.logo img:hover {
    transform: scale(1.2);
} 

#wolfverelst {
            position: absolute;
            text-decoration: none;
            font-family: var(--SpaceGrotesk);
            color: var(--deepCrimson);
            font-size: 24px;
            transition: color 0.3s ease;
            cursor: pointer;
            margin-left: 80px;
            font-weight: 900;
            transition: color 0.3s ease;
}

#wolfverelst:hover {
    color: var(--raspberryRage); 
    cursor: pointer;
}

#toggleSidebar {
    display: none;
    font-size: 16px;
    margin-left: 212px;
    cursor: pointer;
    font-family: var(--SpaceGrotesk);
    color: var(--deepCrimson);
}

#toggleSidebar:hover {
    color: var(--raspberryRage);
}



.nav-link {
    text-decoration: none;
    color: var(--cream);
    background-color: var(--raspberryRage);
    margin-right: 20px;
    font-size: 18px;
    font-family: var(--SpaceGrotesk);
    position: relative;
    padding: 10px 20px;
}

.nav-contact .nav-link {
    display: flex;
    align-items: center;
    width: auto;
    padding: 18px 40px;
    position: relative;
    margin-left: auto;
    left: 32px;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--cream);
    background-color: var(--deepCrimson);
}








/* sidebar ⬅️ */ 
.sidebar-left {
    position: fixed;
    top: 0;
    width: 60px; 
    height: 100%;
    background-color: var(--cream);
    padding: 4px;
    border-right: 1px solid var(--mist);
    z-index: 2;
}

.sidebar-icons-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

.sidebar-icons-left a {
    margin-bottom: 60px;
}

.sidebar-icons-left i {
    font-size: 32px;
    color: var(--raspberryRage);
}

.sidebar-icons-left i:hover {
    color: var(--deepCrimson);
}

.sidebar-text-left {
    display: flex;
    text-align: center;
    font-family: var(--SpaceGrotesk);
    font-size: 16px;
    color: var(--charcoal);
    height: 100%;
}

#copyright {
    font-size: 12px;
    position: absolute;
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
    left: -66px;
    top: 480px;
    letter-spacing: 4px;
}






/* sidebar ➡️ */
.sidebar-right {
    position: fixed;
    top: 60px;
    width: 200px;
    height: 100vh;
    background-color: var(--cream);
    padding: 16px;
    border-left: 1px solid var(--mist);
    border-bottom: 1px solid var(--mist);
    right: 0;
    overflow: hidden; 
    z-index: 0;
}

.sidebar-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.image-container {
    animation: scroll 10s linear infinite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
}

@keyframes scroll {
    0% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.image-container a {
    text-decoration: none; 
    display: block;
    margin: 10px;
    transition: transform 0.5s ease; 
}

.image-container a img {
    max-width: 80px;
    border-radius: 75%;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.image-container a:hover {
    transform: scale(1.1);
    transform: rotate(12deg);
    filter: brightness(0.8);
}



.content {
    position: relative;
    width: 40%;
    margin-left: 180px;
    margin-top: 100px;
    font-family: var(--SpaceGrotesk);
    z-index: 2;
}

.main-title, .sub-title, .paragraph {
    text-align: left;
}

.main-title {
    font-size: 24px;
    color: var(--charcoal);
}

.sub-title {
    font-size: 36px;
    color: var(--deepCrimson);
}

.paragraph {
    color: var(--charcoal);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing-page {
    position: absolute;
    z-index: -5;
}

span {
    background-color: var(--raspberryRage);
    color: var(--cream);
    padding-left: 12px;
    padding-right: 12px;
}

.link {
    color: var(--raspberryRage);
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: var(--deepCrimson);
}

#paragraph2 {
    display: none;
}








@media only screen and (max-width: 768px) {
            #wolfverelst {
                margin-left: 80px;
                font-size: 18px;
            }

            #toggleSidebar {
                display: block;
                position: relative;
                left: 60px;
            }

            .sidebar-right {
                display: none; 
                position: fixed;
                top: 60px;
                height: 100vh;
                width: 148px;
                background-color: var(--cream);
                padding: 16px;
                border-left: 1px solid var(--mist);
                border-bottom: 1px solid var(--mist);
                right: 0;
                overflow: hidden; 
                z-index: 5;
            }

            .sidebar-right.show-sidebar {
                display: block;
            }

            .landing-page .content {
                width: 48%;
                margin-left: 100px;
                margin-top: 16px;
            }

            .landing-page .content hr {
                display: none;
            }

            .sidebar-right .image-container {
                flex-direction: column;
            }
            
            .nav-contact {
                display: none;
            }

            .work-showcase .gallery {
                position: relative;
                right: 32px;
            }

            .work-showcase .gallery img {
                width: 80%;
            }


.content .main-title {
    font-size: 16px;
}

.content .sub-title {
    font-size: 24px;
}

.content .paragraph {
    font-size: 12px;
}

#paragraph2 {
    display: block;
}
            



}



.content {
    position: relative;
    width: 40%;
    margin-left: 180px;
    margin-top: 164px;
    font-family: var(--SpaceGrotesk);
    z-index: 2;
}

.main-title, .sub-title, .paragraph {
    text-align: left;
}

.main-title {
    font-size: 24px;
    color: var(--charcoal);
}

.sub-title {
    font-size: 36px;
    color: var(--deepCrimson);
}

.paragraph {
    color: var(--charcoal);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing-page .content hr {
    color: var(--charcoal);
    width: 40%;
    float: left;
    margin-top: 40px;
}


.landing-page {
    position: relative;
    z-index: -5;
}

span {
    background-color: var(--raspberryRage);
    color: var(--cream);
    padding-left: 12px;
    padding-right: 12px;
}




.work-showcase {
    position: relative;
    width: 60%;
    display: flex;
    padding: 100px 8%;
    margin-left: 96px;
    margin-top: 200px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.gallery img {
    width: 100%;
}